body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(200, 200, 211);
  }
  .header {
    width: 100%;
    margin: 1.5rem 0 0 0;
  }
  .header h2 {
    text-align: center;
    padding: 0 0 2rem 0;
  }
  .inputs {
    width: 100%;
  }
  .container {
    display: table;
    margin-right: auto;
    margin-left: auto;
    background: none;
    width: 25rem;
  }
  
  .inputs input:first-child {
    width: 25rem;
    padding: 5px;
    background: #fff;
    color: #000;
    font-size: 16px;
    border: none;
  }
  .save {
    width: 5rem;
    background: rgb(67, 150, 95);
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: honeydew;
    float: right;
    margin-top: 1rem;
    text-transform: uppercase;
    font-weight: 700;
  }
  .container table {
    width: 100%;
    border-collapse: collapse;
  }
  thead tr {
    background-color: #f2f2f2;
    height: 39px;
  }
  table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    width: 100%;
  }
  form button {
    background-color:#FA383E;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    position: relative;
    top: 8px;
  }

  form .logout{
    background-color: red;
    float: right;
  }